#!/bin/bash
##
# Config file for the click'n'go build file of the GPGTools Installer.
#
# @usage    see build-script.sh
# @author   Alex <alex@gpgtools.org>
# @version  2011-11-08
# @see      https://github.com/GPGTools/GPGTools_Installer
#
##

# the releases #################################################################
gka_url="http://nightly.gpgtools.org/";
gka_version="GPG%20Keychain%20Access-trunk";
gka_fileExt=".dmg";
gka_sigExt=".dmg.sig"
gka_build="$pathDownload/gka";
gka_volume="GPG Keychain Access.localized";
gka_installer="GPG Keychain Access.app";
gka_target="gka";

gka105_url="https://github.com/downloads/GPGTools/GPGKeychainAccess/";
gka105_version="GPG%20Keychain%20Access-0.8.13";
gka105_fileExt=".dmg";
gka105_sigExt=".dmg.sig"
gka105_build="$pathDownload/gka105";
gka105_volume="GPG Keychain Access.localized";
gka105_installer="GPG Keychain Access.app";
gka105_target="gka105";

gpgmail107_url="http://nightly.gpgtools.org/";
gpgmail107_version="GPGMail-trunk";
gpgmail107_fileExt=".dmg";
gpgmail107_sigExt=".dmg.sig"
gpgmail107_build="$pathDownload/gpgmail107";
gpgmail107_volume="GPGMail";
gpgmail107_installer="GPGMail.mpkg";
gpgmail107_package="."
gpgmail107_target="gpgmail107";

gpgmail106_url="https://github.com/downloads/GPGTools/GPGMail/";
gpgmail106_version="GPGMail-1.3.3";
gpgmail106_fileExt=".dmg";
gpgmail106_sigExt=".dmg.sig"
gpgmail106_build="$pathDownload/gpgmail106";
gpgmail106_volume="GPGMail";
gpgmail106_installer="GPGMail.pkg";
gpgmail106_package="GPGMail.pkg"
gpgmail106_target="gpgmail106";

gpgmail105_url="https://github.com/downloads/GPGTools/GPGMail/";
gpgmail105_version="GPGMail-1.2.0-10.5";
gpgmail105_fileExt=".dmg";
gpgmail105_sigExt=".dmg.sig"
gpgmail105_build="$pathDownload/gpgmail105";
gpgmail105_volume="GPGMail 1.2.0";
gpgmail105_installer="GPGMail.mailbundle";
gpgmail105_target="gpgmail105";

#gpgmail104_url="https://github.com/downloads/GPGTools/GPGMail/";
#gpgmail104_version="GPGMail-1.1.2-10.4";
#gpgmail104_fileExt=".dmg";
#gpgmail104_sigExt=".dmg.sig"
#gpgmail104_build="$pathDownload/gpgmail104";
#gpgmail104_volume="GPGMail-1.1.2-10.4";
#gpgmail104_installer="GPGMail.mailbundle";
#gpgmail104_target="gpgmail104";

macgpg2_url="https://github.com/downloads/GPGTools/MacGPG2/";
macgpg2_version="MacGPG2-2.0.18-4";
macgpg2_fileExt=".dmg";
macgpg2_sigExt=".dmg.sig"
macgpg2_build="$pathDownload/macgpg2";
macgpg2_volume="MacGPG2";
macgpg2_installer="$macgpg2_volume.mpkg/Contents/Packages/MacGPG2.pkg";
macgpg2_installer2="$macgpg2_volume.mpkg/Contents/Packages/pinentry-mac.pkg";
macgpg2_package=".";
macgpg2_target="MacGPG2";

#macgpg1_url="https://github.com/downloads/GPGTools/MacGPG1/";
#macgpg1_version="MacGPG1-1.4.11-6";
#macgpg1_fileExt=".dmg";
#macgpg1_sigExt=".dmg.sig"
#macgpg1_build="$pathDownload/macgpg1";
#macgpg1_volume="MacGPG1";
#macgpg1_installer="MacGPG1.pkg";
#macgpg1_package="MacGPG1.pkg";
#macgpg1_target="MacGPG1";

enigmail_url="http://addons.mozilla.org/thunderbird/downloads/file/92939/";
enigmail_version="enigmail-1.1.2-tb-macosx";
enigmail_fileExt=".xpi";
enigmail_sigExt=".xpi.sig"
enigmail_build="$pathDownload/enigmail";
enigmail_target="enigmail";

enigmail5_url="http://addons.mozilla.org/thunderbird/downloads/file/124320/";
enigmail5_version="enigmail-1.2.1-tb+sm-mac";
enigmail5_fileExt=".xpi";
enigmail5_sigExt=".xpi.sig"
enigmail5_build="$pathDownload/enigmail5";
enigmail5_target="enigmail5";

enigmail6_url="http://addons.mozilla.org/thunderbird/downloads/file/131061/";
enigmail6_version="enigmail-1.3.2-sm+tb-mac";
enigmail6_fileExt=".xpi";
enigmail6_sigExt=".xpi.sig"
enigmail6_build="$pathDownload/enigmail6";
enigmail6_target="enigmail6";

enigmail7_url="http://addons.mozilla.org/thunderbird/downloads/file/138441/";
enigmail7_version="enigmail-1.3.4-sm+tb-mac";
enigmail7_fileExt=".xpi";
enigmail7_sigExt=".xpi.sig"
enigmail7_build="$pathDownload/enigmail7";
enigmail7_target="enigmail7";

gpgservices_url="http://nightly.gpgtools.org/";
gpgservices_version="GPGServices-trunk";
gpgservices_fileExt=".dmg";
gpgservices_sigExt=".dmg.sig"
gpgservices_build="$pathDownload/gpgservices";
gpgservices_volume="GPGServices";
gpgservices_installer="GPGServices.mpkg/Contents/Packages/GPGServices.pkg";
gpgservices_package="."
gpgservices_target="gpgservices";


gpgpreferences_url="http://nightly.gpgtools.org/";
gpgpreferences_version="GPGPreferences-trunk";
gpgpreferences_fileExt=".dmg";
gpgpreferences_sigExt=".dmg.sig"
gpgpreferences_build="$pathDownload/gpgpreferences";
gpgpreferences_volume="GPGPreferences";
gpgpreferences_installer="GPGPreferences.prefPane";
gpgpreferences_target="gpgtoolspreferences";
################################################################################
