name="GPGTools_Installer"
version="$(date "+%Y%m%d")"
releaseDir="build"
bundleName="$name.mpkg"
pkgProj="$name.pkgproj"
pkgReadme="resources/package-introduction-en.txt"
rmName="Uninstall.app"
rmPath="./$rmName"
imgBackground="./resources/images/background_dmg.png";
dmgUrl="GPGTools/GPGTools"
preDMGBuild="./fixInstaller.sh"
